{% extends 'login.html' %}
{% load static %}

{% block log %}
<div class="container p-5">
    <h2>
        Reset Password
    </h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        <p>Forgotten Password? Enter your email address and we will email you instructions to reset your password</p>
        <label for="email">Email Address</label>
        <input type="email" placeholder="Enter Your Email" name="email" required>
        <br>
        <button>Submit</button>  
    </form>
</div>
{% endblock %}