{% extends 'login.html' %}
{% load static %}

{% block log %}

<form method="post">
{% csrf_token %}
{% for message in messages %}
{{ messages }}
{% endfor %}
<h3>Create Account</h3>
{{ form.errors }}
<a href="/">Already Have an Account? Click Here</a>
{{ form.username.label }}
{{ form.username }}
<br>
{{ form.first_name.label }}
{{ form.first_name }}
<br>
{{ form.last_name.label }}
{{ form.last_name }}
<br>
{{ form.email.label }}
{{ form.email }}
<br>
{{ form.password1.label }}
{{ form.password1 }}
<br>
{{ form.password2.label }}
{{ form.password2 }}
<br>
<button>Sign Up</button>
</form>
{% endblock %}